/*
  Authors:
    Valerie Martinez
    Anthony Sanchez
    Bradley Diep
    Jason Duong

  Description:
    CSS styling for HTML
*/

body {
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

/* better than black */

canvas {
    background-color: black;
}